.input {
  text-align: center;
  width: 25px;
  border: none;
}
.handle {
  border: none;
  background-color: white;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tr {
  text-align: center;
}
.name {
  font-weight: 700;
  font-size: 14px;
}

.price {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}
.trash {
  cursor: pointer;
}
.trash:hover {
  background-color: rgba(0, 0, 0, 0.266);
}
