.container {
  font-style: italic;
  width: 25%;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-bottom: 20px;
}
.title1 {
  background-color: black;
  color: white;
  height: 40px;
  margin-bottom: 20px;
}
.title1 p {
  margin: 0 0;
  padding-top: 8px;
  margin-left: 20px;
}

.title2 {
  font-weight: bold;
}
.title2 p {
  margin: 0 0;
  padding-top: 8px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.btn {
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0 0;
  background-color: white;
  color: rgba(0, 0, 0, 0.581);
  font-style: italic;
}

.active {
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 0 0;
  background-color: white;
  color: rgb(255, 174, 0);
  font-style: italic;
}
